body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    max-width: 768px;
    margin: 0 auto; /* 自动左右边距以居中 */
    padding: 0;
    box-sizing: border-box; /* 使内边距和边框包含在宽度内 */
    background-color: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* 禁用文本选择 */
    -webkit-user-select: none; /* 针对 Chrome, Safari 和其他 WebKit 浏览器 */
    -moz-user-select: none; /* 针对 Firefox */
    -ms-user-select: none; /* 针对 IE 和 Edge */
    user-select: none; /* 标准属性 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

span, p {
    color: #424142;
}

header {
    /* height: clamp(8.5rem, 100vw / 4.5, 17rem); */
    padding-left: clamp(1.6rem, 100vw / 23.7, 3.2rem);
    padding-right: clamp(1.6rem, 100vw / 23.7, 3.2rem);
    /* background-color: lightblue; */
}
header .logoImage {
    width: clamp(6.4rem, 100vw / 5.93, 12.8rem);
    margin-top: clamp(1.6rem, 100vw / 23.7, 3.2rem);
    margin-bottom: clamp(0.2em, 100vw / 190, 0.4rem);;
}

header .navigation {
    display: flex;
    height: clamp(4.5rem, 100vw / 8, 9rem);
    align-items: center;
    justify-content: space-between;
    margin-left: clamp(0.4rem, 100vw / 101.5, 0.8rem);
    margin-right: clamp(0.4rem, 100vw / 101.5, 0.8rem);
    margin-bottom: 10px;
}

main {
    margin-left: clamp(3.2rem, 100vw / 12.26, 6rem);
    margin-right: clamp(3.2rem, 100vw / 12.26, 6rem);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* 垂直排列 */
    /* gap: clamp(5.6rem, 100vw / 8.15, 8rem); */
}

li {
    margin-bottom: clamp(5.6rem, 100vw / 24.5, 8rem);
}

.gray-color-text {
    color: var(--theme-gray-color);
}

.mid-gray-color-text {
    color: var(--theme-medium-gray-color);
}

.minor-color-text {
    color: var(--theme-minor-color);
}

.ultralight-text {
    font-family: PingFangSC-Ultralight, sans-serif;
    font-weight: var(--font-weight-thin);
}

.navigation .btn-with-arrow {
    display: flex;
    align-items: center;
    border: none;
    padding: 0;
    background-color: transparent;
    width: clamp(5rem, 100vw / 7.59, 10rem);
    height: clamp(2rem, 100vw / 22, 4rem);
    visibility: hidden;
}

.arrow-icon {
    width: clamp(1.2rem, 100vw / 31.625, 2.4rem);
    height: clamp(1.2rem, 100vw / 31.625, 2.4rem);
}

.btn-back-text {
    margin-left: 0.8rem;
    font-size: clamp(1.4rem, 100vw / 26, 2.4rem);
    font-weight: 500;
}

.btn-with-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-right: clamp(1.6rem, 100vw / 24.5, 3rem);
    height: clamp(4rem, 100vw / 10.3, 6.8rem);
    width: clamp(16rem, 100vw / 2.45, 30rem);
    border: 0.5px solid #e4e5e6;
    box-sizing: border-box; /* 使宽度和高度包括border和padding */
    border-radius: calc(clamp(4rem, 100vw / 9.49, 8rem) / 2);
    background-color: transparent;
}

.btn-with-toggle img {
    width: clamp(1.8rem, 100vw / 24.5, 3.6rem);
}

.search-icon {
    margin-left: clamp(1.2rem, 100vw / 31.6, 2.4rem);
}

.down-icon {
    margin-right: clamp(1.2rem, 100vw / 31.6, 2.4rem);
}

.btn-type-text {
    flex-grow: 1;
    font-size: clamp(1.4rem, 100vw / 26, 2.4rem);
    text-align: left;
    margin-left: clamp(1rem, 100vw / 38, 2rem);
    margin-right: clamp(1rem, 100vw / 38, 2rem);
}

.first-column {
    background-color: burlywood;
    width: clamp(2.2rem, 100vw / 19.2, 3.6rem);
    vertical-align: top;
}

.badge {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: clamp(1.1rem, 100vw / 35.6, 2rem);
    font-weight: var(--font-weight-regular);
    color: white;
    position: absolute;
    width: clamp(2rem, 100vw / 20, 3.6rem);
    height: clamp(2rem, 100vw / 20, 3.6rem);
    border-radius: 50%;
    background-color: var(--theme-minor-color);
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.first-title {
    font-size: clamp(2rem, 100vw / 24.5, 3.6rem);
    font-weight: var(--font-weight-bold);
    margin-left: calc(clamp(2rem, 100vw / 20, 3.6rem) + clamp(0.8rem, 100vw / 47.4, 1.6rem));
    line-height: clamp(2rem, 100vw / 20, 3.6rem);
}

.first-content {
    text-align: center;
}

.first-description {
    text-align: left;
    font-size: clamp(1.4rem, 100vw / 32.6, 2rem);
    font-weight: var(--font-weight-regular);
    line-height: clamp(2.1rem, 100vw / 21.7, 3rem);
    margin-left: calc(clamp(2rem, 100vw / 20, 3.6rem) + clamp(0.8rem, 100vw / 47.4, 1.6rem));
    margin-top: clamp(0.6rem, 100vw / 50, 1.2rem);
}

.first-image {
    margin-top: clamp(2rem, 100vw / 20, 3.6rem);
    width: clamp(24rem, 100vw / 1.8, 40rem);
}

.second-column {
    justify-content: center;
    align-items: center;
}

.light-status-container {
    margin-left: calc(clamp(2rem, 100vw / 20, 3.6rem) + clamp(0.8rem, 100vw / 47.4, 1.6rem));
    margin-top: clamp(2.4rem, 100vw / 18, 4rem);
    background-color: var(--theme-background-color);
    border-radius: clamp(1rem, 100vw / 38, 2rem);
    padding: 0px 4px 30px 4px;
}

.light-status-box-3411 {
    text-align: center;
    position: relative;
    display: inline-block;
    width: clamp(9rem, 100vw / 4.48, 16rem);
}

.light-status-box-3411 img {
    display: block;
    margin-top: clamp(1.8rem, 100vw / 21, 3.6rem);
    width: 100%;
}

.light-status-text {
    position: absolute;
    font-size: clamp(1.4rem, 100vw / 32.6, 2rem);
    bottom: 2%;
    left: 90%;
}

.light-status-text.ARIA3411 {
    bottom: 2%;
    left: 90%;
}

.light-status-text.ARIA2210 {
    bottom: 3%;
    left: 105%;
}

.light-status-text.ARIA3625, .ARIA3626, .ARIA3629 {
    bottom: 39%;
    left: 90%;
}

table {
    width: 100%;
    /* background-color: lightpink; */
    text-align: left;
    padding-left: 4px;
    padding-right: 4px;
    border: none;
    border-collapse: collapse; /* 去除单元格之间的间隙 */
}

tr {
    border: none;
    height: clamp(3rem, 100vw / 14, 5rem);
}

td {
    /* background-color: wheat; */
    border: none;
}

td p {
    font-size: clamp(1.4rem, 100vw / 32.6, 2rem);
    letter-spacing: -1px;
}

td .minor-color-span {
    font-size: clamp(0.9rem, 100vw / 40, 1.4rem);
}

td:first-child {
    /* background-color: lightblue; */
    width: 54%;
    padding-left: clamp(1.5rem, 100vw / 25.3, 3rem);
}

tr:last-child td:first-child {
    background-color: var(--theme-15-main-color);
    border-radius: 2px 0 0 2px;
    font-weight: var(--font-weight-medium);
}

tr:last-child td:last-child {
    background-color: var(--theme-15-main-color);
    border-radius: 0 2px 2px 0;
    font-weight: var(--font-weight-medium);
}

footer {
    height: clamp(10rem, 100vw / 5.93, 17rem);
    background-image: url("/src/images/general/bg_750.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding-left: clamp(3.6rem, 100vw / 11.6, 6rem);
}

footer span {
    font-size: clamp(1.3rem, 100vw / 33.6, 2rem);
    font-weight: var(--font-weight-extra-light);
    /* font-family: PingFangSC-Ultralight, sans-serif; */
}

footer span.semibold-text {
    font-size: clamp(1.2rem, 100vw / 37, 1.8rem);
    font-weight: var(--font-weight-semi-bold);
    /* font-family: PingFangSC-Semibold, sans-serif; */
}

.footer-line {
    width: clamp(4rem, 100vw / 10.3, 6.8rem);
    height: 1px; /* 初始设置为1px */
    background-color: var(--theme-gray-color);
    transform: scaleY(0.5); /* 将高度缩放为 0.1 */
    transform-origin: top; /* 设置缩放的基准点 */
    margin-top: clamp(0.8rem, 100vw / 49, 1.4rem);
}


/* 弹窗容器样式 */
.popup {
    position: absolute;
    background-color: white;
    border: none;
    border-radius: clamp(0.8rem, 100vw / 49, 1.4rem);
    box-shadow: 0 6px 16px 0px rgba(0, 0, 0, 0.15);
    z-index: 10;
    width: clamp(16rem, 100vw / 2.77, 24rem); /* 弹窗宽度 */
    /* padding: 10px 0; */
    overflow: hidden;
    display: none; /* 默认隐藏 */
}

/* 弹窗隐藏时样式 */
.hidden {
    display: none;
}

/* 列表样式 */
.popup-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.popup-item {
    /* padding: 10px; */
    /* cursor: pointer; */
    /* text-align: center; */
}

.popup-item.selected {
    background-color: var(--theme-10-minor-color); /* 初始选中项背景色 */
}

.popup-list li {
    margin: 0;
    padding-left: clamp(1.4rem, 100vw / 29.4, 2.4rem);
    display: flex;
    align-items: center;
    height: clamp(4.7rem, 100vw / 9.5, 7rem);
}

.popup-list span {
    font-size: clamp(1.4rem, 100vw / 32, 2.3rem);
}

.popup-device-image {
    width: clamp(3rem, 100vw / 14, 5rem);
    margin-right: 6px;
}